 #parse("layout/head.vm")
 
 
 <style type="text/css">
	    [class*="col-"] {
	    	#if($!stock.floatRate >0) 
			  background-color: red;
			#else
			  background-color: green;
			#end
			  text-align:left;
		}
	 </style>
 <div class="container">
     <div class="starter-template">
	   	 <div class="row">
	   	 	<div class="col-md-4 col-xs-12">$!stock.zqName/$!stock.zqCode</div>
	        <div class="col-md-4 col-xs-6"">当前价：$!stock.nowPrice</div>
	        <div class="col-md-4 col-xs-6"">成本价：$!stock.avaPrice</div>
	        <div class="col-md-4 col-xs-12"">持有股数：$!stock.amount股</div>
	        <div class="col-md-4 col-xs-12"">最新市值：$!stock.nowValue元</div>
	        <div class="col-md-4 col-xs-12"">可卖数量：$!stock.salesAmount股</div>
	        <div class="col-md-4 col-xs-12"">浮动盈亏：$!stock.floatValue元/$!stock.floatRate%</div>
	        <div class="col-md-4 col-xs-12"">自动下单：#if($!status) $!status #else 未监控  #end</div>
	      </div>
	      
	      <div class="row">
	      	#if($!status)
	      		<form action="start.htm" method="post">
	      			<input type="hidden" id='zqCode' name='zqCode' value='$!stock.zqCode'>
	        		<button type="sumbit" class="btn btn-lg btn-success">监控启动</button>
	        	</form>
	        	<form action="stop.htm" method="post">
	        		<input type="hidden" id='zqCode' name='zqCode' value='$!stock.zqCode'>
	        		<button type="sumbit" class="btn btn-lg btn-success">监控停止</button>
	        	</form>
	        #end
	      </div>
      </div>
      
      <table class="table table-condensed">
		<thead>
			<tr>
				<th>委托时间</th>
				<th>买卖标志</th>
				<th>状态说明</th>
				<th>价格</th>
				<th>数量</th>
			</tr>
		</thead>
		<tbody>
		 #foreach($order in $!orders)
			<tr>
				<td>$order.date</td>
				<td>#if($order.isBuy()) 买单 #else 卖单 #end</td>
				<td>$order.statusDesc</td>
				<td>$order.price</td>
				<td>$order.amount</td>
			</tr>
		 #end
		</tbody>
	</table>
	<div>$price</div>
</div>
 #parse("layout/foot.vm")