<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>余军的后花园</title>

    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
     <link href="dist/css/grid.css" rel="stylesheet">
     <link href="dist/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
     <style type="text/css">
	    [class*="col-"] {
			  background-color: red;
			  text-align:left;
		}
	 </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">余军的后花园</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
     <div class="container">
	     <div class="starter-template">
		   	 <div class="row">
		   	 	<div class="col-md-4 col-xs-12">证券：兰州民百/300002</div>
		        <div class="col-md-4 col-xs-6"">当前价：12.3</div>
		        <div class="col-md-4 col-xs-6"">成本价：12.1</div>
		        <div class="col-md-4 col-xs-12"">持有股数：34200股</div>
		        <div class="col-md-4 col-xs-12"">最新市值：34200元</div>
		        <div class="col-md-4 col-xs-12"">可卖数量：34200股</div>
		        <div class="col-md-4 col-xs-12"">浮动盈亏：1232元</div>
		        <div class="col-md-4 col-xs-6"">盈亏比例：5%</div>
		        <div class="col-md-4 col-xs-6"">自动下单：是</div>
		      </div>
		      
		      <div class="row">
		        	<button type="button" class="btn btn-lg btn-success">启动</button>
		        	<button type="button" class="btn btn-lg btn-success">停止</button>
		      </div>
	      </div>
    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>
  </body>
</html>