#parse("layout/head.vm")
 <div class="container">
  	<div class="starter-template">
	   	 <div class="row">
	   		<div class="col-md-6 col-xs-12">股东账号：$!accountId</div>
	   	 	<div class="col-md-6 col-xs-12">总资产：$!fund.totalValue元</div>
	        <div class="col-md-6 col-xs-12">股票市值：$!fund.stockValue元</div>
	        <div class="col-md-6 col-xs-12">可用资金：$!fund.availableFunds元</div>
	        <div class="col-md-6 col-xs-12">可取资金：$!fund.featchFunds元</div>
	        <div class="col-md-6 col-xs-12">冻结资金：$!fund.freezeFunds元</div>
	      </div>
	    
      </div>
      
<table class="table">
        <thead>
          <tr>
            <th>股票</th>
            <th>总股数/可卖股数</th>
            <th>成本价/当前价</th>
            <th>盈亏额/盈亏比例</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
         #foreach($stock in $!stocks)
	          <tr>
	            <td>$!{stock.zqCode}/$!{stock.zqName}</td>
	            <td>$!{stock.amount}/$!{stock.salesAmount}</td>
	            <td>$!stock.nowPrice/$!stock.avaPrice</td>
	            <td>$!stock.floatValue/$!stock.floatRate%</td>
	            <td><a href="/detail.htm?zqCode=$!stock.zqCode">详情</a></td>
	          </tr>
          #end
        </tbody>
      </table>
</div>
#parse("layout/foot.vm")